<%- include('./partials/head'); %>

    <body class="container">
        <%- include('./partials/header'); %>
            <main>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="jumbotron">
                            <h1>Anasayfa</h1>
                            <p>EJS View Engine kullanılmıştır</p>
                        </div>
                        <div class="well">
                            <%- body %>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('./partials/foot'); %>

    </body>

    </html>